{
    "printWidth": 80,
    "proseWrap": "always",
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
